*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.invoice_generated h1{
    font-family:'Plus Jakarta Sans';
    margin-top: 20px;
    margin-bottom: 10px;
}
.outer_wrapper{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
}
.button_wraper{
    /* border: 2px solid orange; */
    display: flex;
    gap: 10px;
}
.amount h3{
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 10px;
}
.button div{
    margin: 6px;
}
.button{
    display: flex;
    background-color: #9B59B6;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20vw;
    /* border: 2px solid blue; */
    border-radius: 10px;
}

.button p{
    text-align: center;
    font-family: 'Poppins';
    color: white;
    font-weight: 700;
}
.sure{
    font-weight: 400;
}